<h1><%= @hash["team"]["name"]%></h1>
<h2>Team Motto: <%= @hash["team"]["motto"]%></h2>

<h3> Hero Name: <%= @hash["team"]["members"][0]["name"]%></h3>
  <p>Hero Power: <%= @hash["team"]["members"][0]["power"]%></p>
  <p>Hero Biography: <%= @hash["team"]["members"][0]["biography"]%></p>

<h3> Hero Name: <%= @hash["team"]["members"][1]["name"]%></h3>
  <p>Hero Power: <%= @hash["team"]["members"][1]["power"]%></p>
  <p>Hero Biography: <%= @hash["team"]["members"][1]["biography"]%></p>

<h3> Hero Name: <%= @hash["team"]["members"][2]["name"]%></h3>
  <p>Hero Power: <%= @hash["team"]["members"][2]["power"]%></p>
  <p>Hero Biography: <%= @hash["team"]["members"][2]["biography"]%></p>
