<h1>Super Hero Team</h1>
<h2>Team Name: <%= @team_name%></h2>
<h2>Team Motto: <%= @team_motto%></h2>
<h3>Hero Name: <%= @member1_name%></h3>
<h3>Hero Power: <%= @member1_power%></h3>
<h3>Hero Biography: <%= @member1_bio%></h3>
<h3>Hero Name: <%= @member2_name%></h3>
<h3>Hero Power: <%= @member2_power%></h3>
<h3>Hero Biography: <%= @member2_bio%></h3>
<h3>Hero Name: <%= @member3_name%></h3>
<h3>Hero Power: <%= @member3_power%></h3>
<h3>Hero Biography: <%= @member3_bio%></h3>


